
.container {
        max-width: 75%; /* Adjust the maximum width as per your needs */
        margin: 0 auto;
        padding: 0 15px;
    }

    tbody tr:hover {
        background-color: #f1f1f1; /* Set the background color on hover */
      }
  
  
    tbody td {
      vertical-align: middle; /* Align cell content vertically */
      border-top: none; /* Remove top border of table cells */
      border-left: none;  /* Remove left border of table cells */
      border-right: none;  /* Remove right border of table cells */
      
      border-bottom: 1px solid #dee2e6; /* Add bottom border to table cells */
    }
